
/* ---Body & Général--- */
h1 {
    color:plum;
}
body {
    color: #E0F2F1;
}

/* ---Navbar--- */
nav{
    background: rgb(178,223,219);
    background: linear-gradient(0deg, rgba(178,223,219,1) 0%, rgba(7,140,127,1) 100%); 
}
nav img{
    width: 50%;
}
/* ---Footer--- */
footer{
    background: rgb(178,223,219);
    background: linear-gradient(180deg, rgba(178,223,219,1) 0%, rgba(7,140,127,1) 100%);
    position: fixed;
    width: 100%; 
    bottom: 0px;
    text-align: center;
}

/* ---Header--- */
header{
    background: url(../imgs/header.jpg);
    background-size: contain;
    background-position: center no-repeat;
    height: 1500px;
}

